body{
  text-align: center;
}

.arrow{
	position: relative;
	display: inline-block;
	padding: 0 0 0 16px;
	color: #000;
	vertical-align: middle;
	text-decoration: none;
	font-size: 15px;
}
.arrow::before,
.arrow::after{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	content: "";
	vertical-align: middle;
}


.button-bar {
  display: flex;
  flex-direction: column;
  float:right;
}

.page-left::before{
	width: 40px;
	height: 40px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	/* background: #7a0; */
  background:#d0d0d0;
}
.page-left::after{
	left: 15px;
	width: 15px;
	height: 15px;
	border-top: 3px solid #fff;
	border-right: 3px solid #fff;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.page-left{
  bottom: 21.5vw;
  left: 0.47vw;
  width: 3.44vw;
  height: 3.44vw;
}

.page-right::before{
	width: 40px;
	height: 40px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	/* background: #7a0; */
  background:#d0d0d0;
}
.page-right::after{
	left: 6px;
	width: 15px;
	height: 15px;
	border-top: 3px solid #fff;
	border-right: 3px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
  
}
.page-right{
  bottom: 21.5vw;
  left: 0.47vw;
  width: 0.47vw;
  height: 3.44vw;
  cursor:pointer;
}



.pen-btn{
  padding: 0.5em;
  margin: 10px 0;
  display: block;
  /* color: #fff !important; */
  background: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size:16px;
  border-radius: 3px;
  text-align:center;
  text-decoration:none !important;
}
.pen-btn::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  /* margin: -3px 5px 0 0; */
  background: url("/img/pen.png") no-repeat;
  background-size: 35px;
  vertical-align: middle;
}
.pen-btn:hover {
  background: lightgray;
}
@media screen and (min-width: 768px){
  .pen-btn{
    padding: 0.6em 0.6em;
    margin: 10px auto;
    font-size:20px;
    display:inline-block;
  }
  /* .tool-btn:before {
    margin: -3px 10px 0 0;
  } */
}



.page-btn{
  padding: 0.5em;
  margin: 10px 0;
  display: block;
  color: #fff !important;
  background: #d0d0d0;
  text-decoration: none;
  font-weight: bold;
  font-size:16px;
  border-radius: 3px;
  text-align:center;
  text-decoration:none !important;
}
.page-btn::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  /* margin: -3px 5px 0 0; */
  background: url("/img/page.png") no-repeat;
  background-size: 35px;
  vertical-align: middle;
}
.page-btn:hover {
  background: lightgray;
}
@media screen and (min-width: 768px){
  .page-btn{
    padding: 0.6em 0.6em;
    margin: 10px auto;
    font-size:20px;
    display:inline-block;
  }
  /* .tool-btn:before {
    margin: -3px 10px 0 0;
  } */
}



.dl-btn{
  padding: 0.5em;
  margin: 10px 0;
  display: block;
  /* color: #fff !important; */
  background: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size:16px;
  border-radius: 3px;
  text-align:center;
  text-decoration:none !important;
}
.dl-btn::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  /* margin: -3px 5px 0 0; */
  background: url("/img/downLoad.png") no-repeat;
  background-size: 35px;
  vertical-align: middle;
}
.dl-btn:hover {
  background: lightgray;
}
@media screen and (min-width: 768px){
  .dl-btn{
    padding: 0.6em 0.6em;
    margin: 10px auto;
    font-size:20px;
    display:inline-block;
  }
  /* .tool-btn:before {
    margin: -3px 10px 0 0;
  } */
}

.section-btn{
  padding: 30px;
}

.zoomIn-btn{
  padding: 0.5em;
  margin: 10px 0;
  display: block;
  color: #fff !important;
  background: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size:16px;
  border-radius: 3px;
  text-align:center;
  text-decoration:none !important;
}
.zoomIn-btn::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  /* margin: -3px 5px 0 0; */
  background: url("/img/zoomIn.png") no-repeat;
  background-size: 35px;
  vertical-align: middle;
}
.zoomIn-btn:hover {
  background: lightgray;
}
@media screen and (min-width: 768px){
  .zoomIn-btn{
    padding: 0.6em 0.6em;
    margin: 10px auto;
    font-size:20px;
    display:inline-block;
  }
  /* .tool-btn:before {
    margin: -3px 10px 0 0;
  } */
}



.zoomOut-btn{
  padding: 0.5em;
  margin: 10px 0;
  display: block;
  color: #fff !important;
  background: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size:16px;
  border-radius: 3px;
  text-align:center;
  text-decoration:none !important;
}
.zoomOut-btn::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  /* margin: -3px 5px 0 0; */
  background: url("/img/zoomOut.png") no-repeat;
  background-size: 35px;
  vertical-align: middle;
}
.zoomOut-btn:hover {
  background: lightgray;
}
@media screen and (min-width: 768px){
  .zoomOut-btn{
    padding: 0.6em 0.6em;
    margin: 10px auto;
    font-size:20px;
    display:inline-block;
  }
  /* .tool-btn:before {
    margin: -3px 10px 0 0;
  } */
}